<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniuber" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniUber" >

        <activity
            android:name=".app.features.commonFeatures.PhoneVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".app.features.commonFeatures.OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".app.features.driverFeatures.SignUpDriverActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwSNYh_1b4tVKBJzjQ-pKRiSuWVlF6MXA" />

        <activity
            android:name=".app.features.riderFeatures.riderMapsActivity.RiderMapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".app.features.riderFeatures.SignUpRiderActivity"
            android:exported="false" />
        <activity android:name=".app.features.riderFeatures.tripsHistoryFragment.complaints.ReportProblem"
            android:exported="false">

        </activity>
        <activity android:name=".app.features.riderFeatures.tripsHistoryFragment.TripInfo.TripInfoActivity"
            android:exported="false"
            >

        </activity>
        <activity
            android:name=".app.features.commonFeatures.registration.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".app.features.employeeFeatures.ComplaintDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".app.features.employeeFeatures.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".app.features.commonFeatures.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.features.commonFeatures.ModuleSelectorActivity" />
        <activity
            android:name=".app.features.driverFeatures.DriversMapsActivity"
            android:exported="true" />
    </application>

</manifest>